[Unit]
Description=Gollum Git Wiki

[Service]
ExecStart=/usr/bin/gollum --mathjax --css --allow-uploads --emoji %h/Notes/gollum

[Install]
WantedBy=default.target
