[Unit]
Description=Powertop tunings
# Remember to run powertop --calibrate once in the life of the OS

[Service]
Type=oneshot
ExecStart=/usr/bin/powertop --auto-tune

[Install]
WantedBy=multi-user.target
