KDTREE
KnnClassifier
PyMuPDF
PyPDF2
black
bokeh
gitpython
ipython
ipywidgets
jupyterlab
jupytext
markdown
matplotlib
numpy
ollama
openai
pandas
pdf2text
pdftotext
pgcli
scikit-learn
seaborn
pyqt6
pip-chill
pillow
plotnine
podman-compose
polars
pygments
pytesseract
pyyaml
radian
requests
scipy
statsmodels
sympy
tesseract
tk
torch
tqdm
typer
umap-learn
numba
visidata
vdsql
