snippet h1
	====== $1 ======


snippet h2
	===== $1 =====


snippet h3
	==== $1 ====


snippet h4
	=== $1 ===


snippet h5
	== $1 ==

snippet ``
	<code $1>
	$2
	</code>
	$0

snippet `p
	<code python>
	$1
	</code>
	$0


snippet `r
	<code rsplus>
	$1
	</code>
	$0


snippet `rs
	<code rust>
	$1
	</code>
	$0

snippet `s
	<code sh>
	$1
	</code>
	$0
