# Automatic Snippet
snippet dm "Display Math" A
	$$
	$1
	$$
	$0

# Math Zone Snippets............................................................
snippet // "Fraction" Am
	\frac{$1}{$2} $3

snippet == "Aligned Equals" Am
	&= $1 \\
	$0

snippet ali "Aligned Environment" Am
	\begin{aligned}
	$1 &= $2 \\
	$3
	\end{aligned}
	$0


snippet sr "Squared" Am
	^2 $0

snippet sqrt "sqrt" Am
	\sqrt{$1} $0


snippet pl "Plus" Am
	+ $0

snippet mi "Minus" Am
	- $0

snippet pm "Plus or Minus" Am
	\pm $0

